p

{
    color: purple;
    font-weight: bold;
    font-variant: normal;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}
body

{
    text-align: center;
    background-color: lightcyan;
    text-align: center;
}

#head

{
font-size: x-large;
background-color: antiquewhite;
font-size:  50px;
text-align: center;

}
img

{
   content: url(muchomor.jpg); 
   width: 600px;
   height: 370px;
}
div
{
max-width: 600px;
margin: auto;


}